.textonav{
    color: white;
}

.contenedor1{
    background-color: #4B5160;
}

.imagenserv{
    width: 350px;
    height: 300px;
}

.alineacion-der{
    width: 130px;
    height: 40px

}
.contenedor2{
    background-color: #798196;
}

.imagen3{  
    width: 800px;   
    height: 500px;
}  

.imagentutor{
    width:400px;
    }